/* These are the global styles for every tag */
:root{
    --montserrat: 'Montserrat', serif;
    /* --limelight: 'Limelight', cursive; */
    --primary-table: #2193B0;
    --accent-table: #6DD5ED;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--montserrat);
    font-size: 20px;
    text-decoration: none;
    color: #eee;
    caret-color: var(--skyblue);
    list-style-type: none;
    scroll-behavior: smooth;
}

*::selection{
    background: var(--myellow);
    color: #222;
    opacity: 1;
}

h1,h2,h3,h4,h5,h6{
    /* font-family: var(--limelight); */
    font-weight: 900;
}

p{
    font-family: var(--raleway);
}

img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.subtitle{
    opacity: .7;
    font-size: 18px;
    margin: 20px 0;
}

.main-head{
    text-align: center;
    font-family: var(--playfair);
    font-size: 8vh;
}

.light-heading{
    font-weight:300;
}

input:focus, button:focus{
    outline:none;
    border: none;
}

button{
    outline:none;
    border: none;
}

.bigHead{
    font-size: 70px;
    line-height: 1em;
    margin-bottom: 15px;
}

.medHead{
    font-size: 40px;
    margin-bottom: 15px;
}

.nudeButton{
    padding: .7em 1.5em;
    margin-top: 20px !important;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    text-transform: capitalize;
    color: var(--skyblue);
    border: 2px solid var(--skyblue) !important;
    transition: .7s;
}

.nudeButton:hover{
    background: var(--skyblue);
    border:none;
}
/* Global styles end here */





#hero{
    height: 100vh;
    width: 100%;
    display: flex;
    background: var(--skyblue);
}

#hero *{
    transition: .7s;
}

#heroImage{
    width: 50%;
    height: 100%;
    position: relative;
    padding: 7em 5em;
    /* background: url(https://images.pexels.com/photos/1449052/pexels-photo-1449052.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    background-size: cover;
    background-position: center; */
    /* background-image: linear-gradient(-45deg, var(--primary-table) 50%, var(--accent-table)); */
    background: var(--skyblue);
}

#heroImage *{
    color:#222;
}

#heroDescription{
    width: 50%;
    height: 100%;
    position: relative;
    padding: 7em 2em 1em 7em;
    background: var(--dblue);
}

#main > a{
    display: block;
    margin-bottom: 20px;
}

#heroDescription *{
    color: #eee;
    margin-bottom: 30px;
}

#hero > .fa-chevron-left{
    color: #eee !important;
    opacity: 1;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 1000;
    font-size: 60px;
    display: block;
}

#postDate{
    margin-bottom: 20px;
    font-family: var(--raleway);
}


#main{
    height: auto;
    padding: 1em 0em ;
    display: none;
}

#main *{
    color: #222;
    margin-bottom: 20px;
}

#main > p{
    padding: 0 20px;
    color: #999;
}

















