
/* These are the global styles for every tag */
:root{
    --montserrat: 'Montserrat', serif;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--montserrat);
    font-size: 3vh;
    text-decoration: none;
    color: #222;
    caret-color: var(--skyblue);
}

img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.main-head{
    text-align: center;
    font-family: var(--playfair);
    font-size: 8vh;
}

.light-heading{
    font-weight:300;
}

input:focus{
    outline:none;
}

/* Global styles end here */


/* The code below is for the navigation bar */
nav{
    position: fixed;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
    align-items: center;
    background: #fff;
    z-index: 999;
    transition: .7s;
}

nav #logo{
    width: 70px;
    height: 80%;
    cursor: pointer;
}

nav .fa-bars{
    font-size: 5vh;
}

/* navigation bar styles end here */






/* Hero section styles start here */

#hero{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: max-content;
}

#hero-content{
    width: 50%;
    position: relative;
}

.preheading{
    color: var(--skyblue);
    font-size:15px;
    font-weight: 900;
    text-transform: uppercase;
}

#hero-content h1,span{
    text-transform: capitalize;
    font-size: 7vh;
    margin-bottom: 20px;
}

.subtitle{
    opacity: .6;
    margin-bottom: 40px;
}

#hero-buttons{
    display: inline;
}

.primary{
    padding: .5em 1em;
    background: var(--skyblue);
    text-transform: uppercase;
    color: #fff;
    transition: .7s;
}

.nudebtn{
    padding: .5em 1em;
    margin-left: 10px;
    text-transform: capitalize;
    color: var(--skyblue);
    border: 1px solid var(--skyblue);
}

#hero-wrapper img{
    position: relative;
    width: 50%;
    height: 100%;
}

/* Hero section styles end here */





/* The feature section's styles start here */

#features{
    height: auto;
    width: 100%;
}

#features > h1{
    font-size: 8vh;
    text-align: center;
}

#feature-wrapper{
    width: 100%;
    height: max-content;
    display: flex;
    padding: 3em 5em;
    /* background: #222; */
}

#feature-wrapper img{
    height: 600px;
    width: 40%;
}

#feature-content{
    display: flex;
    flex-direction: column;
}

#feature-content img{
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.feature-head{
    margin-bottom: 10px;
    font-size: 3.2vh !important;
}

.feature{
    height: max-content;
    display: flex;
    margin-bottom: 50px;
}

.feature .subtitle{
    font-size: 2.5vh;
    margin-bottom: 0;
    width:95%;
}

/* The feature section's styles end here */





/* The styles for booking section starts here */

#booking{
    height: 100vh;
    display: flex;
}

#booking-info{
    width: 60%;
}

#booking-info .main-head{
    font-size: 6vh;
}

#booking-form{
    width: 40%;
    padding: 3em 1em;
    background: var(--dblue);
    display: flex;
    flex-direction: column;
}

#booking-form *{
    width: 90%;
    margin: 0 auto;
    color: #fff;
}

#booking-form .main-head{
    font-size: 5vh;
    margin-bottom: 40px;
}

#booking-form > input:not([type=button]){
    border: none;
    padding: .7em .2em;
    background: transparent;
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
}

#booking-form > input[type=button]{
    padding: .7em 1em;
    color: #222;
    background: var(--skyblue);
    border:none;
    cursor: pointer;
}

#book-gender-div{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: .7s;
}

#book-gender-div > label:not(:first-child){
    cursor: pointer;
}

#book-gender-div > label:first-child{
    opacity: .3;
}

input[name="book-gender"]{
    display: none;
    transition: .7s;
}

input[name="book-gender"]:checked + img{
    border: 3px solid #fff;
    border-radius: 50%;
}




/* The styles for booking section ends here */



















/* This is the footer with additional links to enhance the site navigation */
footer{
	height: auto;
	width: 100%;
	background: var(--skyblue);
}

footer *{
    color: #fff !important;
}


#footer-container{
	height: 40vh;
	width: 100%;
	padding: 4em 8em;
	display: flex;
}


#footer-link-container{
	display: flex;
	width:50%;
	justify-content: space-around;
}


.footer-links ul a{
	display: block;
	width: max-content !important;
	margin-right: 80px;
	margin-bottom: 20px;
	font-size: 3vh;
}

.footer-links ul a:hover:not(.header-item){
	border-bottom: 1px solid #333;
	content: normal;
}


.footer-links ul a.header-item{
	opacity: .4;
	font-size: 4vh;
	cursor: default;
	margin-bottom: 20px;
}



#copyright{
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--dblue);
}

/* The footer styles end here */
































/* These are the styles for the mobile and tablet version of the site */
@media screen and (max-width:1200px){
    nav{
        padding: 0 .7em;
    }
    
    #hero-wrapper{
        width:90%;
        display: block;
    }
    #hero-wrapper img{
        display: none;
    }
    #hero-wrapper *{
        width:100%;
    }
    #hero-buttons{
        display: flex;
    }


    #feature-wrapper{
        display: block;
        padding: 1em 2em;
    }
    #feature-wrapper > img{
        display: none;
    }

    .feature > img{
        width: 30%;
        height: auto;
    }

    .feature > .featurecontent{
        width: 70%;
        height: 100%;
    }


    #booking{
        display: block;
        height: auto;
    }

    #booking-info, #booking-form{
        width: 100%;
    }











    footer{
        height: auto;
        width: 100%;
    }
    
    
    #footer-container{
        height: auto;
        width: 100%;
        padding: 2em 2em;
        display: flex;
    }
    
    
    #footer-link-container{
        display: block;
        width:50%;
        justify-content: space-around;
    }
    
    
    .footer-links ul a{
        font-size: 2vh;
        display: block;
        width: max-content !important;
        margin-right: 80px;
        margin-bottom: 20px
    } 
    
    #copyright{
        position: relative;
        width: 100%;
        height: 40px;
        text-align: center;
    }





}



