/* These are the global styles for every tag */
:root{
    --montserrat: 'Montserrat', serif;
    --primary-table: #2193B0;
    --accent-table: #6DD5ED;
    --dblue: #27233a;
    --mblue: #1e5e98;
    --fred: #e74c3c;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--montserrat);
    font-size: 20px;
    text-decoration: none;
    color: #222;
    caret-color: var(--skyblue);
    list-style-type: none;
    scroll-behavior: smooth;
}

body{
    background-color: #D8E7EA;
}

img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.recommended{
    opacity: .9 ;
    border-radius: 2px;
    background-color: var(--fred);
    font-size: 15px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.main-head{
    text-align: center;
    font-family: var(--playfair);
    font-size: 8vh;
}

.light-heading{
    font-weight:300;
}


input:focus, button:focus{
    outline:none;
    border: none;
}

button{
    outline:none;
    border: none;
}

/* Global styles end here */


#price_tables{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 20px;
    width: 100%;
    padding: 30px;
}

.table{
    border-radius: 10px;
    background-image: none;
    height: 90vh;
    transition: all .7s;
    padding: 40px;
    border-right: 1px solid #C6C1BD;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -ms-transition: all .7s;
    -o-transition: all .7s;
    position: relative;
    margin: 30px 0;
}

.table > ul > *{
    transition: all .7s;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -ms-transition: all .7s;
    -o-transition: all .7s;
}

.rupee, .hourly{
    opacity: .3;
}

.amount{
    font-size: 50px;
    font-weight: 900;
}

.bold_li{
    font-weight: 700;
}

.button{
    position: relative;
    height: 60px;
    border: 2px solid transparent;
    background-image: linear-gradient(90deg,var(--accent-table),var(--primary-table));
    padding: 1em 1.5em !important;
    border-radius: 50px;
    font-weight: 900;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.button > a{
    line-height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.table:hover{
    background-image: linear-gradient(45deg, var(--dblue) 40%, var(--mblue));
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.table:hover .button{
    background-image: none;
    border: 2px solid #fff;
}

.table:hover *{
    color: #fff;
}






@media screen and (max-width: 1200px){
    #price_tables{
        height: auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        width: 100%;
        padding:10px;
    }
    .table{
        background-image: linear-gradient(45deg, var(--dblue) 40%, var(--mblue));
        border-radius:10px;
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
        -ms-border-radius:10px;
        -o-border-radius:10px;
}
    .table *{
        color: #fff;
    }
    .table .button{
        background-image: none !important;
        border: 2px solid #fff !important;
    }
}